
<h1>Panel Administrador</h1>

<p>Bienvenido <strong><%= user.name %></strong></p>

<a href="/users">Gestión de usuarios</a><br>
<a href="/roles">Gestión de roles</a><br>
<a href="/status">Gestión de estados</a>


