<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>

  <%- include('./partials/navbar.ejs') %>
  <%- include('./partials/messages.ejs') %>

  <main>
    <%- body %>
  </main>

</body>
</html>
